.alert-details-page-container {
    background-color: #FFFFFF;
      /* padding: 20px; */
  }
  
  .alert-details-title {
    font-Family: 'DM Mono', sans-serif;
      text-align: left;
      color: '#686561'; 
    }
  
  .alert-details-card {
    background-color: #CBCBCB;
    width: 100%;
    height:100%;
    padding: 20px;
    justify-content: center;
  }