/* Add this CSS to your existing CSS file */
.ant-menu-horizontal > .ant-menu-item > a {
  text-decoration: none !important;
  border-bottom: none !important;
  color: black;
}

.custom-menu .ant-menu-item-selected,
.custom-menu .ant-menu-item:hover {
  border-bottom: none !important;
}

.custom-menu .ant-menu-item:hover a {
  color: #696D7D !important;
  border-bottom: none !important;

}

.custom-menu .ant-menu-item-selected a {
  color: #0088FE !important;
}

.logout-button {
  background-color: transparent !important;
  color: black !important;
}

.custom-link {
  text-decoration: none;
}
